In [1]:
from collections import Counter
from datetime import datetime
from matplotlib import pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
# functions

def get_nums(my_df, n = 5, top = True):
  """
  : input dataframe filtered how you want
  : returns dictionary or main numbers
  """
  tmp_num_list = []
  for i in my_df['winning_numbers'].str.split():
    for j in i:
      tmp_num_list.append(j)

  num_dict = dict(Counter(tmp_num_list))

  tmp_dict = dict(sorted(num_dict.items()\
                        ,key = lambda x:x[1]\
                        ,reverse = top))

  return list(tmp_dict.items())[:n]


def get_pb(my_df, n = 5, top = True):
  """
  : input dataframe filtered how you want
  : returns dictionary of powerball numbers
  """
  pb_nums = my_df['mega_ball']

  pb_dict = dict(Counter(pb_nums))

  tmp_dict = dict(sorted(pb_dict.items()\
                         ,key = lambda x:x[1]\
                         ,reverse = top))

  return list(tmp_dict.items())[:n]

In [3]:
# using SQL on json url to get more than 1000 results (if results are limited)
url = 'https://data.ny.gov/resource/5xaw-6ayf.json?$limit=9999'
df = pd.read_json(url)

# cleaning up dates
# a: new/ clean column
df['date'] = pd.to_datetime(df['draw_date'], format='%Y-%m-%d %H:%M:%S')
df['DOW'] = df['date'].dt.day_name()
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month

# b: remove old date column
df = df.drop(columns=['draw_date'])

# c: reindex/ re-arrange columns
col = df.pop('date')
df.insert(0, col.name, col)
col = df.pop('year')
df.insert(1, col.name, col)
col = df.pop('month')
df.insert(2, col.name, col)
col = df.pop('DOW')
df.insert(3, col.name, col)

# d: separate out each winning number
df[['num1','num2','num3','num4','num5']] = df['winning_numbers'].str.split(' ', expand = True)

In [6]:
df_print = df

print('-----Numbers-----')
for i in get_nums(df_print, n=10):
  print(i)

print('\n-----Power Ball-----')
for i in get_pb(df_print, n=10):
  print(i)

-----Numbers-----
('31', 219)
('10', 215)
('20', 212)
('17', 210)
('14', 210)
('46', 208)
('29', 202)
('02', 202)
('51', 200)
('39', 197)

-----Power Ball-----
(7, 89)
(10, 88)
(9, 87)
(13, 86)
(4, 85)
(11, 85)
(15, 85)
(1, 81)
(3, 81)
(6, 79)

In [7]:
df_print = df.query("DOW == 'Friday' and year == 2023")

print('-----Numbers-----')
for i in get_nums(df_print, n=10):
  print(i)

print('\n-----Power Ball-----')
for i in get_pb(df_print, n=10):
  print(i)

-----Numbers-----
('66', 9)
('10', 8)
('29', 8)
('20', 7)
('12', 7)
('47', 6)
('57', 6)
('46', 6)
('70', 5)
('26', 5)

-----Power Ball-----
(13, 4)
(22, 4)
(11, 4)
(25, 4)
(12, 3)
(1, 3)
(17, 3)
(18, 3)
(15, 3)
(14, 3)

In [8]:
df_print = df.query("DOW == 'Friday'")

print('-----Numbers-----')
for i in get_nums(df_print, n=10):
  print(i)

print('\n-----Power Ball-----')
for i in get_pb(df_print, n=10):
  print(i)

-----Numbers-----
('46', 121)
('17', 115)
('31', 113)
('14', 111)
('10', 109)
('20', 108)
('18', 105)
('28', 104)
('04', 103)
('40', 102)

-----Power Ball-----
(10, 51)
(3, 46)
(13, 45)
(8, 45)
(7, 44)
(11, 40)
(15, 40)
(14, 40)
(1, 39)
(4, 39)

In [9]:
df_print = df.query("DOW == 'Tuesday'")

print('-----Numbers-----')
for i in get_nums(df_print, n=10):
  print(i)

print('\n-----Power Ball-----')
for i in get_pb(df_print, n=10):
  print(i)

-----Numbers-----
('02', 116)
('39', 109)
('29', 107)
('07', 106)
('31', 106)
('10', 106)
('15', 106)
('20', 104)
('22', 103)
('24', 103)

-----Power Ball-----
(9, 49)
(4, 46)
(6, 46)
(7, 45)
(11, 45)
(15, 45)
(1, 42)
(13, 41)
(2, 38)
(10, 37)

In [10]:
df_print = df.query("year == 2022")

print('-----Numbers-----')
for i in get_nums(df_print, n=10):
  print(i)

print('\n-----Power Ball-----')
for i in get_pb(df_print, n=10):
  print(i)

-----Numbers-----
('38', 16)
('15', 12)
('07', 12)
('64', 12)
('03', 11)
('06', 11)
('21', 11)
('16', 11)
('11', 11)
('08', 10)

-----Power Ball-----
(24, 7)
(17, 6)
(18, 6)
(22, 6)
(25, 6)
(6, 5)
(13, 5)
(2, 5)
(21, 5)
(11, 4)